.page {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.auth-page {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.profile-page {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 50px 50px 50px 110px;
}