* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  color: $fontColor;
  font-size: 12px;
}

button,
input {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}
